<header>
  <h1>
    <strong>Kristjan Rang</strong>  is a developer for all things web.
  </h1>
</header>

<ul class="skills">
  <li>Full-stack web developer.</li>
  <li>Part time devops and sysadmin.</li>
  <li>App developer for Windows and OS X.</li>
  <li>Cat poker.</li>
  <li>Video game enthusiast.</li>
</ul>

<div class="contact">
  <h1>Contact</h1>

  <div class="vcard">
    <h2>
      <a href="http://kristjanrang.eu/" class="url fn">Kristjan Rang</a>
    </h2>

    <div class="adr">
      <div>
        <span class="locality">Tallinn</span>
         ,
        <span class="country-name">Estonia</span>
      </div>
      <div>
        <a href="mailto:mail@rang.ee" class="email">mail@rang.ee</a>
         ,
        <span class="tel">+372 58 130653</span>
      </div>
    </div>
    <p>
      <a href="http://h2vx.com/vcf/kristjanrang.eu/">↓ vCard</a>
    </p>
  </div>
</div>

<ul class="internet">
  <li>
    <a href="mailto:mail@rang.ee" title="Email">
      <i class="icon-mail"></i>
    </a>
  </li>
  <li>
    <a href="https://github.com/krisrang" title="Github">
      <i class="icon-github"></i>
    </a>
  </li>
  <li>
    <a href="http://www.last.fm/user/Noin" title="Last.fm">
      <i class="icon-lastfm"></i>
    </a>
  </li>
  <li>
    <a href="https://steamcommunity.com/id/jaunter" title="Steam">
      <i class="icon-steam"></i>
    </a>
  </li>
  <li>
    <a href="http://www.goodreads.com/user/show/21059347-kristjan" title="Goodreads">
      <i class="icon-book"></i>
    </a>
  </li>
</ul>

<i class="cat"></i>
